.MenuPrincipal {
  color: aliceblue;
  display: flex;
  border-color: rgb(124, 123, 123);
  border-style: ridge;
  width: 15em;
  height: 804px;
  flex-direction: column;
  align-items: center;
  }

  .btnMenu{
    color: white;
    width: 18em;
    height: 55px;
    background-color: rgb(116 114 113 / 34%);
    border-color: rgb(255, 123, 0);
    cursor: pointer;
  }

  .btnMenu:hover{
    background-color: rgb(75, 73, 72);
    border-color: rgb(255, 123, 0);
    color: rgb(26, 25, 25);
  }
  .imgIzq{
    background-image: url(./Call6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15em;
    height: 527px;
    background-position-x: -36px;
  }
