.Menu{
  color: aliceblue;
  display: flex;
  border-color: rgb(124, 123, 123);
  border-style: ridge;
  width: 15em;
  height: 804px;
  flex-direction: column;
  align-items: center;
}

  .btnMenu{
    color: white;
    width: 18em;
    height: 55px;
    background-color: rgb(116 114 113 / 34%);
    border-color: rgb(255, 123, 0);
    cursor: pointer;
  }

  .btnMenu:hover{
    background-color: rgb(75, 73, 72);
    border-color: rgb(255, 123, 0);
    color: rgb(26, 25, 25);
  }
  .imgIzq{
    background-image: url(./Call6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15em;
    height: 527px;
    background-position-x: -36px;
  }
  @media(min-width:641px) and (max-width:4000px){
  .btnMenuResponsiveMovil{
    display:none;
  }
  .imgIzqResponsiveMovil{
    display:none;
  }
  .btnPerfilResponsiveMovil{
    display:none;
  }
  .btnNoticiasResponsiveMovil{
    display:none;
  }
  .btnEquiposResponsiveMovil{
    display:none;
  }
  .btnCalendarioResponsiveMovil{
    display:none;
  }
}

  @media(max-width:640px){
    .Menu{
      width: 100%;
      height: 86px; 
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content:center;
      align-items: stretch;
      align-content: stretch;
      position: relative;
      border: none;  
    }
    

      .btnMenu{
      display:none;
      }
      .imgIzq{
        display:none;
      }

      .btnNoticiasResponsiveMovil{
        background-image: url(./icononoticias.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        width: 102%;
        height: 50px;
        cursor: pointer;
        padding-left: 55px;
        padding-bottom: 24px;
        padding-right: 84px;
        left: -6px;
        position: relative;
        background-position-x: 48px;
    }
    
      .btnPerfilResponsiveMovil{
        background-image: url(./perfilicono.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        width: 102%;
        height: 50px;
        cursor: pointer;
        padding-left: 55px;
        padding-bottom: 24px;
        padding-right: 84px;
        left: -6px;
        position: relative;
        background-position-x: 48px;  
      }

      .btnEquiposResponsiveMovil{
        background-image: url(./equiposicono.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        width: 102%;
        height: 50px;
        cursor: pointer;
        padding-left: 55px;
        padding-bottom: 24px;
        padding-right: 84px;
        left: -6px;
        position: relative;
        background-position-x: 48px;
      }

      .btnCalendarioResponsiveMovil{
        background-image: url(./trofeoicono.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        width: 102%;
        height: 50px;
        cursor: pointer;
        padding-left: 55px;
        padding-bottom: 24px;
        padding-right: 84px;
        left: -6px;
        position: relative;
        background-position-x: 48px;
      }

  }
  /* @media (min-width:571px) and (max-width:640px){
    .btnNoticiasResponsiveMovil{
      background-image: url(./icononoticias.png);
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      width: 102%;
      height: 50px;
      cursor: pointer;
      padding-left: 55px;
      padding-bottom: 24px;
      padding-right: 93px;
      left: -5px;
      position: relative;
      background-position-x: 48px;
  }
  }
  @media(min-width:570px) and (max-width:625px){
    .btnNoticiasResponsiveMovil{
      background-image: url(./icononoticias.png);
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      width: 102%;
      height: 50px;
      cursor: pointer;
      padding-left: 55px;
      padding-bottom: 24px;
      padding-right: 76px;
      left: -6px;
      position: relative;
      background-position-x: 52px;
  }
  }
  @media(min-width:520px) and (max-width:569px){
    .btnNoticiasResponsiveMovil{
      background-image: url(./icononoticias.png);
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      width: 102%;
      height: 50px;
      cursor: pointer;
      padding-left: 55px;
      padding-bottom: 24px;
      padding-right: 76px;
      left: -6px;
      position: relative;
      background-position-x: 52px;
  }
  }
  @media(min-width:485px) and (max-width:519px){
    .btnNoticiasResponsiveMovil{
      background-image: url(./icononoticias.png);
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      width: 102%;
      height: 50px;
      cursor: pointer;
      padding-left: 55px;
      padding-bottom: 24px;
      padding-right: 55px;
      left: -5px;
      position: relative;
      background-position-x: 39px;
  }
  }
  @media(max-width:484px){
    .btnNoticiasResponsiveMovil{
      background-image: url(./icononoticias.png);
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      width: 102%;
      height: 50px;
      cursor: pointer;
      padding-left: 55px;
      padding-bottom: 24px;
      padding-right: 33px;
      left: -5px;
      position: relative;
      background-position-x: 26px;
  }
  } */


