.cajaDrchaPrincipal{
      background-image: url(./footermovil.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-color: rgb(124, 123, 123);
      background-position-x: 0em;
      background-position-y: -19px;
      height: 146px;
      width: 617px;
      border-style: ridge;
      margin-left: -5px;
      margin-top: 15px;
  }

  