*{
color:rgb(255, 255, 255);
/* font-family: 'Genos', sans-serif; */
/* font-family: 'Staatliches', cursive; */
font-family: 'Archivo Black', sans-serif;
}


.fondoHomePage{
  background: url(./img/mapamundo.jpg);
  position:relative;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.laterales{
  display: flex;
  justify-content: space-between;
  
}


.Noticias{
  text-align: center;
    color: #dbdbdb;
    background-color: #808080b0;
    font-size: xxx-large;
}
.Equipos{
  text-align: center;
  color: #dbdbdb;
  background-color: #808080b0;
  font-size: xxx-large;
}
.Clasificacion{
  text-align: center;
  color: #dbdbdb;
  background-color: #808080b0;
  font-size: xxx-large;
}
.Calendario{
  text-align: center;
  color: #dbdbdb;
  background-color: #808080b0;
  font-size: xxx-large;
}
.Perfil{
  text-align: center;
  color: #dbdbdb;
  background-color: #808080b0;
  font-size: xxx-large;
}

.Centro{
  width: 100%;
  border-color: red;
  border-style: solid;
}

.cajaPagPrincipal{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.cuerpo{
  display: flex;
  justify-content: space-between;
  border-width: 6px;
  border-style: ridge;
  border-color: #7c7b7b;
}
